@import '~antd/dist/antd.less';
@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/lib/style/themes/dark.less';

//@component-background: #303030;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

link {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

input,
select,
textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  display: block;

  width: 100%;
  max-width: 90%;
  margin-top: .5rem;
  padding: .375rem .75rem;

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  border-radius: .25rem;
  background-color: inherit !important;
  background-clip: padding-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /*-webkit-box-shadow: 0 0 0 30px #ced4da inset !important;*/
}

input:-webkit-autofill {
  /*-webkit-text-fill-color: darkgoldenrod !important;*/
}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}